html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #63666A;
  font-family: Avenir;
}

@font-face {
    font-family: Avenir;
    src: url("../MB/Avenir Black.ttf") format('truetype');
}

esp-web-install-button {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
